<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="natuan.org.androiddesigntablayout">

    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.GET_ACCOUNTS" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.CAMERA" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission android:name="android.permission.SYSTEM_ALERT_WINDOW" />

    <application
        android:name=".MainApplication"
        android:allowBackup="true"
        android:icon="@drawable/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/AppTheme">
        <activity
            android:name=".acivityLogin.splash"
            android:label="@string/app_name"
            android:windowSoftInputMode="adjustResize">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".acivityLogin.MainLogin" />
        <activity android:name=".acivityLogin.MainActivityDisplayFragmentLogin" />
        <activity android:name=".activity.MainActivityTap" />
        <!-- <activity android:name=".MainActivityChat" /> -->
        <activity android:name=".activity.PostPhotoActivity" />
        <activity android:name=".activity.TakePhotoActivity2" />
        <activity android:name=".activity.TakePhotoActivity" />
        <activity android:name=".acivityLogin.ActivityMainLogin" />
        <activity android:name=".activity.ActivityChatSetting" />
        <activity android:name=".ActivityViewPhotoChat"/>
        <activity
            android:name=".activity.MianHomMe"
            android:label="@string/title_activity_mian_hom_me"
            android:theme="@style/AppTheme" />
        <activity android:name=".activity.MianHomGroup" />
        <activity android:name=".fragments.fragmentTattooStore.TattooDetailActivity" />
        <activity android:name=".activity.ActivitySetting" />
        <activity android:name=".activity.ActivityLanguageSetting">
            <intent-filter>
                <action android:name=".activity.ActivityLanguageSetting" />

                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>

        <meta-data
            android:name="com.parse.APPLICATION_ID"
            android:value="@string/parse_app_id" />
        <meta-data
            android:name="com.parse.CLIENT_KEY"
            android:value="@string/parse_client_key" />
        <meta-data
            android:name="com.facebook.sdk.ApplicationId"
            android:value="@string/facebook_app_id"/>
        <meta-data android:name="com.facebook.sdk.ApplicationName"
            android:value="@string/app_name" />
        <activity
            android:name="com.parse.ui.ParseLoginActivity"
            android:launchMode="singleTop">
            <meta-data
                android:name="com.parse.ui.ParseLoginActivity.PARSE_LOGIN_ENABLED"
                android:value="true"/>
            <meta-data
                android:name="com.parse.ui.ParseLoginActivity.PARSE_LOGIN_EMAIL_AS_USERNAME"
                android:value="true"/>
            <meta-data
                android:name="com.parse.ui.ParseLoginActivity.FACEBOOK_LOGIN_ENABLED"
                android:value="true"/>
            <meta-data
                android:name="com.parse.ui.ParseLoginActivity.TWITTER_LOGIN_ENABLED"
                android:value="true"/>
        </activity>




        <!--<activity android:name=".acivityLogin.LoginActivity"/>-->


    </application>

</manifest>
